<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <i class="material-icons">perm_phone_msg</i>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color:white" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Operadora
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/operadoras/novo"><i class="material-icons">add_circle_outline</i> Cadastro</a>
                    <a class="dropdown-item" href="/operadoras"><i class="material-icons">insert_drive_file</i> Lista</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" style="color: white" role="button" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Telefone
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/telefones/novo"><i class="material-icons">add_circle_outline</i> Cadastro</a>
                    <a class="dropdown-item" href="/telefones"><i class="material-icons">insert_drive_file</i> Lista</a>
                </div>
            </li>
        </ul>
    </div>
</nav>